.mainbox {
 width: 500px;
 height: 500px;
 background-color: purple; 
 display: flex;
}

.blackbox {
 width: 300px;
 height: 300px;
 border: white dashed 5px;
 background-color: black; 
 flex-direction: colunm;
 flex-wrap: wrap;
}

.greenboxs1 {
 width: 50px;
 height: 50px;
 background-color: green; 
 flex-wrap: wrap;
}

.greenboxs2 {
 width: 50px;
 height: 50px;
 background-color: green; 
 flex-wrap: wrap;
}

.greenboxs3{
 width: 50px;
 height: 50px;
 background-color: green; 
 flex-wrap: wrap;
}