main {
  height: 900px;
  width: 900px;
  background-color: purple;
  margin: 0;
  display: flex;
  /*align-content: space-around;*/
  align-items: center;
  justify-content: center;
  }

   ul {
  border: 10px dashed white;
  background-color: black;
  height: 600px;
  width: 600px;
  display: flex;
  flex-flow: row wrap;
  padding: 0;
  justify-content: space-between;
  align-content: flex-start;
  align-items: center;
  list-style: none;
}

li {
  margin: 25px;
  background-color: green;
  height: 150px;
  width: 150px;
  align-self: auto;
}

.top {
  margin: 0 5px 45px 0;
}

.mid {
  margin-left: 0;
  margin-bottom: 45px;
  margin-right: 5px;
}

.bot {
  margin: 30px 5px 0 0;
}
