main {
  height: 500px;
  width: 500px;
  background-color: purple;
  margin: 0;
  padding-top: 65px;
}

section {
  border: 5px dashed white;
  background-color: black;
  height: 390px;
  width: 390px;
  margin-left: 45px;
  /*margin-top: 50px;*/
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

div {
  margin-right: 80px;
  margin-bottom: 120px;
  flex: 0 0 auto;
  background-color: green;
  height: 50px;
  width: 50px;

}

.box {
  margin-right: 0;
}
