main {
  height: 900px;
  width: 900px;
  background-color: purple;
  margin: 0;
}

.center-box {
  border: 5px dashed white;
  background-color: black;
  height: 600px;
  width: 600px;
  margin-left: 150px;
  margin-top: 150px;
}
ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

li {
  margin-right: 30px;
  margin-bottom: 50px;
  background-color: green;
  height: 150px;
  width: 150px;
  margin-left: 0;
  margin-top: 0;
}
